.products-list {
    max-width: 700px;
    margin: 20px auto 0; /*20 em cima, automático nos lados, 0 em baixo*/
    padding: 0 20px;
}
.products-list article {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}
.products-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}
.products-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #DA552F;
    background: none;
    margin-top: 10px;
    color:  #DA552F;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.products-list article a:hover {
    background: #DA552F;
    color: #FFF;
}

.products-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.products-list .actions button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: #DA552F;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.products-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}
.products-list .actions button:hover{
    opacity: 0.9;
}
.products-list .actions button[disabled]:hover{
    opacity: 0.5;
}


